{% extends 'base.html' %}

{% block title %}
HoajeT
{% endblock title %}


{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock custom_css %}


{% block body %}
<!--h1>Hello geeks from Flask</h1-->
<div class="newsletter-subscribe container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST">
                    <!--Enter text to translate.-->
                    <div class="form-group">
                        <label for="text-to-translate"><strong>Enter the text you'd like to translate:</strong></label>
                        <textarea class="form-control" name="text-to-translate" rows="10"></textarea>
                    </div>
                    <!--Select output language here.-->
                    <div class="form-group">
                        <label for="select-language"><strong>Translate to:</strong></label>
                        <select class="form-control" name="select-language">
                            <option value="sq">Albanian</option>
                            <option value="af">afrikaans</option> 
                            <option value="ar">arabic</option>
                            <option value="am">amharic</option> 
                            <option value="hy">armenian</option>
                            <option value="az">azerbaijani</option> 
                            <option value="eu">basque</option>
                            <option value="be">belarusian</option> 
                            <option value="bn">bengali</option>
                            <option value="bs">bosnian</option>
                            <option value="bg">bulgarian</option>
                            <option value="ca">catalan</option>
                            <option value="zh-cn">chinese (simplified)</option>
                            <option value="zh-tw">chinese (traditional)</option>
                            <option value="ceb">cebuano</option>
                            <option value="ny">Ccichewa</option>
                            <option value="co">corsican</option>
                            <option value="hr">croatian</option>
                            <option value="cs">czech</option>
                            <option value="da">danish</option>
                            <option value="nl">dutch</option>
                            <option value="en">english</option>
                            <option value="eo">esperanto</option>
                            <option value="et">estonian</option>
                            <option value="tl">filipino</option>
                            <option value="fi">finnish</option>
                            <option value="fr">french</option>
                            <option value="fy">frisian</option>
                            <option value="gl">galician</option>
                            <option value="ka">georgian</option>
                            <option value="de">german</option>
                            <option value="el">greek</option>
                            <option value="gu">gujarati</option>
                            <option value="ht">haitian creole</option>
                            <option value="ha">hausa</option>
                            <option value="haw">hawaiian</option>
                            <option value="he">hebrew</option>
                            <option value="hi">hindi</option>
                            <option value="hmn">hmong</option>
                            <option value="is">hungarian</option>
                            <option value="ig">igbo</option>
                            <option value="id">indonesian</option>
                            <option value="ga">irish</option>
                            <option value="it">italian</option>
                            <option value="jw">japanese</option>
                            <option value="is">javanese</option>
                            <option value="kn">kannada</option>
                            <option value="kk">kazakh</option>
                            <option value="km">khmer</option>
                            <option value="ko">korean</option>
                            <option value="ku">kurdish (kurmanji)</option>
                            <option value="ky">kyrgyz</option>
                            <option value="la">lao</option>
                            <option value="lv">latvian</option>
                            <option value="lt">lithuanian</option>
                            <option value="lb">luxembourgish</option>
                            <option value="mk">macedonian</option>
                            <option value="ga">malagasy</option>
                            <option value="ms">malay</option>
                            <option value="ml">malayalam</option>
                            <option value="mt">maltese</option>
                            <option value="mi">maori</option>
                            <option value="mr">marathi</option>
                            <option value="or">odia</option>
                            <option value="ps">pashto</option>
                            <option value="fa">persian</option>
                            <option value="pl">polish</option>
                            <option value="pt">portuguese</option>
                            <option value="pa">punjabi</option>
                            <option value="ro">romanian</option>
                            <option value="ru">russian</option>
                            <option value="sm">samoan</option>
                            <option value="gd">scots gaelic</option>
                            <option value="sr">serbian</option>
                            <option value="sn">shona</option>
                            <option value="sd">sindhi</option>
                            <option value="si">sinhala</option>
                            <option value="sk">slovak</option>
                            <option value="sl">slovenian</option>
                            <option value="so">somali</option>
                            <option value="es">spanish</option>
                            <option value="su">sundanese</option>
                            <option value="sw">swahili</option>
                            <option value="sv">swedish</option>
                            <option value="tg">tajik</option>
                            <option value="ta">tamil</option>
                            <option value="te">telugu</option>
                            <option value="th">thai</option>
                            <option value="tr">turkish</option>
                            <option value="uk">ukrainian</option>
                            <option value="ur">urdu</option>
                            <option value="ug">uyghur</option>
                            <option value="uz">uzbek</option>
                            <option value="vi">vietnamese</option>
                            <option value="cy">welsh</option>
                            <option value="xh">xhosa</option>
                            <option value="yi">yiddish</option>
                            <option value="yo">yoruba</option>
                            <option value="zu">zulu</option>             
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Translate text:</button></br>
                </br>
                </form> 
                <!--Translate text returned by the Tanslate API is rendered here.-->
            </div>
            <div class="col">
                <form >
                    <div class="form-group">
                        <label for="translate-result"><strong>Translate text:</strong></label>
                        <textarea readonly class=" form-control" rows="5">{{ translate_result }}</textarea>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <label for="pronunciation"><strong>Pronunciation:</strong></label>
                        <textarea readonly class="form-control" rows="5">{{ pronunciation }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="pronunciation"><strong>Pronunciation:</strong></label>
                        <textarea readonly class="form-control" rows="5">{{ confidence_level }}</textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block custom_js %}
<!-- Custom JS -->
<script src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock custom_js %}
